---
import MainLayout from '@/layouts/MainLayout';
import ProjectLink from '@/components/ProjectLink';
import { getProjects } from '@/octokit';
const projects = await getProjects();
---

<MainLayout>
    <h2 class="mb-6 title">Projects</h2>
    {
        projects.map((project) => 
            <ProjectLink project={project.name} url={project.html_url}
                language={project.language} description={project.description}
                pushed={project.pushed} commits={project.commits} />
        )
    }
</MainLayout>
